

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');

.prof-page{
margin: auto;

}
.newsTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FC41D3;
}
.newsLine{
    width: 633px;
    height: 1px;
    background-color: #8F8F8F;
}
.profile-container{
    width: 55%;
    margin: 42px auto;
}


.profile-card {
    margin-top: 26px;
    padding-top: 19px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, #202020,#1e1a5f,#414141,#202020);
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

}


.photo-upload {
 
    margin-left: 40px;
  
    width: 191px;
    height: 191px;
    border-radius: 50% ;
}



.profile-username {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}

.profile-edit{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    /* padding-right: 7%; */
}

.addfanfic {
    display: block;
    margin: 19px auto;
;
    width: 160px;
height: 48px;

background: #3D83EC;
border-radius: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.MuiBox-root.css-3vruuw {
    /* background: linear-gradient(209.8deg, rgba(0, 0, 0, 0) 3.14%, rgba(0, 0, 0, 0.6) 29.31%, #000000 97.93%); */
    background: linear-gradient(209.8deg, rgba(0, 0, 0, 0) 3.14%, rgba(0, 0, 0, 0.6) 29.31%, #000000 97.93%), url('./ProfileImg/bg.png')  center  no-repeat;
border: 1px solid #FFFFFF;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;

}

.profile-inp {
    width: 100%;
    height: 15%;
    margin-top: 15px;
}


.btn-submit {
    margin-top: 20px;
    background: #AD4E4A;
border-radius: 20px;
width: 100%;
height: 39px;
color: #FFFFFF;
}

.MuiBox-root.css-1wnsr1i{
    background: linear-gradient(209.8deg, rgba(0, 0, 0, 0) 3.14%, rgba(0, 0, 0, 0.6) 29.31%, #000000 97.93%), url('./ProfileImg/bg.png')  center  no-repeat;
border: 1px solid #FFFFFF;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
height: 290px;  
}

.profilePage-top{
    top: 10%;
    /* left: 50%; */
    margin-left: 80%;
}